body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
}

::-webkit-scrollbar-track {
  background-color: #000;
}

.sec_services .card2, .sec_services .card1, .sec_about_us .offer2 .play_video .container_video, .sec_about_us .offer2 .play_video, .sec_about_us .offer .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec_contacts, .sec_services, .sec_about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  background: url("../images/header/background.svg") no-repeat center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
header .section_menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: linear-gradient(45deg, #FD70EF, #8F4CFD);
}
header .section_menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
header .section_menu .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 5px;
}
header .section_menu .menu ul li {
  display: inline-block;
  padding: 10px;
}
header .section_menu .menu ul li a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
  border-right: 1px solid #fff;
  padding-right: 15px;
}
header .section_menu .menu ul li a:hover {
  background-color: #de71ff;
}
header .section_menu .menu h2 {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
}
header .offer_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 5px solid #fff;
  padding: 20px;
  border-radius: 50px;
}
header .offer_logo img {
  width: 250px;
  height: 250px;
}
header .offer_logo h2 {
  margin: 0;
  color: #fff;
  text-align: center;
}
header .boxMous {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header .mouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 100px;
  border-radius: 30px;
  border: 4px solid white;
}
header .mouse .circle {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #b088f9;
  -webkit-animation: dws-bounce 1.5s infinite;
          animation: dws-bounce 1.5s infinite;
}
@-webkit-keyframes dws-bounce {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 50px;
    opacity: 1;
  }
}
@keyframes dws-bounce {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 50px;
    opacity: 1;
  }
}
header .mouse .circle.active {
  -webkit-animation: mouse 1s 1;
          animation: mouse 1s 1;
  top: 10px;
  background: rgba(34, 255, 45, 0.867);
}
@-webkit-keyframes mouse {
  0% {
    top: 50px;
  }
  100% {
    top: 0;
  }
}
@keyframes mouse {
  0% {
    top: 50px;
  }
  100% {
    top: 0;
  }
}
header .btn_on_menu {
  display: none;
}

main {
  margin-top: 50px;
}

.fixed {
  margin: 0 auto;
  max-width: 1400px;
}

.sec_about_us, .sec_services, .sec_contacts {
  min-height: 800px;
  background-image: url("../images/main/bag.svg");
  background-repeat: no-repeat;
}

.sec_about_us .offer {
  width: 500px;
  height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD70EF), color-stop(#5162FF), to(#8F4CFD));
  background: linear-gradient(#FD70EF, #5162FF, #8F4CFD);
  border-radius: 20px;
  cursor: default;
}
.sec_about_us .offer h2 {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  margin: 28px 10px;
  margin-bottom: 20px;
}
.sec_about_us .offer p {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  margin: 28px 10px;
  margin-bottom: 20px;
}
.sec_about_us .offer .btn {
  background: url("../images/main/button.svg") no-repeat;
  width: 210px;
  height: 127px;
  margin: 28px 10px;
  -webkit-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}
.sec_about_us .offer .btn a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}
.sec_about_us .offer .btn a:hover {
  border-bottom: 1px solid #5162FF;
}
.sec_about_us .offer2 {
  width: 500px;
  height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD70EF), color-stop(#5162FF), to(#8F4CFD));
  background: linear-gradient(#FD70EF, #5162FF, #8F4CFD);
  border-radius: 20px;
  cursor: default;
}
.sec_about_us .offer2 h2 {
  color: #fff;
  font-size: 35px;
  margin: 28px 10px;
  margin-bottom: 20px;
}
.sec_about_us .offer2 p {
  font-size: 20px;
  color: #fff;
  margin: 28px 10px;
}
.sec_about_us .offer2 .play_video {
  background: url("../images/main/button.svg") no-repeat;
  width: 210px;
  height: 127px;
  margin-left: 10px;
}
.sec_about_us .offer2 .play_video img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.sec_about_us .offer2 .play_video img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.sec_about_us .offer2 .play_video .container_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background-size: cover;
  display: none;
  z-index: 101;
}
.sec_about_us .offer2 .play_video .container_video .myVideo {
  width: 800px;
  height: 800px;
}
@-webkit-keyframes onBlockVideo {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes onBlockVideo {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.sec_about_us .offer2 .play_video .container_video.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: onBlockVideo 0.3s 1;
          animation: onBlockVideo 0.3s 1;
  cursor: url("../images/main/close_video.png") 4 12, auto;
}

.sec_services .card1 {
  background: url("../images/card/card.svg") no-repeat;
  height: 586px;
  width: 420px;
  cursor: pointer;
}
.sec_services .card1 h2 {
  background-color: #fff;
  padding: 5px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}
.sec_services .card1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sec_services .card1 ul li {
  font-size: 20px;
  color: #fff;
  margin-left: 20px;
  padding-bottom: 10px;
}
.sec_services .card1 ul li span {
  background-color: #000;
}
.sec_services .logo_secvis {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 70px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec_services .logo_secvis h2 {
  color: #000;
}
.sec_services .logo_secvis img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
.sec_services .card2 {
  background: url("../images/card/card.svg") no-repeat;
  height: 586px;
  width: 420px;
  cursor: pointer;
}
.sec_services .card2 .kos1, .sec_services .card2 .kos2 {
  background-color: #fff;
  padding: 5px;
  margin: 0;
  margin: 20px 0;
  font-size: 20px;
}
.sec_services .card2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sec_services .card2 ul li {
  font-size: 18px;
  color: #fff;
  padding-bottom: 10px;
}
.sec_services .card2 ul li span {
  background-color: #000;
}

.sec_contacts .contact {
  width: 500px;
  height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD70EF), to(#8F4CFD));
  background: linear-gradient(#FD70EF, #8F4CFD);
  border-radius: 20px;
}
.sec_contacts .contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sec_contacts .contact ul li {
  font-size: 20px;
  color: #fff;
  padding-bottom: 20px;
  margin: 28px 35px;
}
.sec_contacts .contact ul li span {
  background-color: #fff;
  color: #000;
}
.sec_contacts .contact .net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 35px;
}
.sec_contacts .contact .net p {
  color: #fff;
  font-size: 18px;
  padding-right: 20px;
  margin: 0;
}
.sec_contacts .contact .bob2 {
  margin: 10px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sec_contacts .contact .bob2 img {
  width: 150px;
  height: 150px;
}
.sec_contacts .swiper {
  width: 400px;
  height: 400px;
  margin: 0;
}
.sec_contacts .swiper .swiper-button-next, .sec_contacts .swiper .swiper-button-prev {
  color: #fff;
}
.sec_contacts .swiper .swiper-button-next {
  right: -30px;
}
.sec_contacts .swiper .swiper-button-prev {
  left: -30px;
}
.sec_contacts .swiper h2 {
  margin: 0;
  color: #fff;
}
.sec_contacts .swiper-slide {
  background-position: center;
  background-size: cover;
}
.sec_contacts .swiper-slide {
  display: block;
  width: 100%;
}
.sec_contacts .swiper-slide:nth-child(1) {
  background: url("../images/slider/img1.jpg") no-repeat center;
  background-size: cover;
}
.sec_contacts .swiper-slide:nth-child(2) {
  background: url("../images/slider/img2.jpg") no-repeat center;
  background-size: cover;
}
.sec_contacts .swiper-slide:nth-child(3) {
  background: url("../images/slider/img3.jpg") no-repeat center;
  background-size: cover;
}

footer {
  background-color: #161616;
  min-height: 400px;
  margin-top: 50px;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
footer .footer .fot_about {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
footer .footer .fot_about h2 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin: 28px 35px;
  margin-top: 0;
  margin-bottom: 20px;
}
footer .footer .fot_about p {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin: 28px 35px;
  margin-bottom: 50px;
}
footer .footer .fot_about .fut_icons {
  margin: 28px 35px;
}
footer .footer .fot_forma {
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD70EF), to(#8F4CFD));
  background: linear-gradient(#FD70EF, #8F4CFD);
  padding: 20px;
  width: 400px;
}
footer .footer .fot_forma input {
  height: 50px;
  width: 100%;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
}
footer .footer .fot_forma label {
  font-size: 24px;
  color: #fff;
}
footer .footer .fot_forma .inpBtn {
  width: 100px;
  height: 40px;
  margin-top: 50px;
  color: #fff;
  background: #333;
}
footer .footer .fot_forma .btn_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer .fot_map h2 {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  margin-top: 0;
}

@media only screen and (max-width: 1024px) {
  header .menu {
    width: 100%;
  }

  .sec_about_us, .sec_services, .sec_contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: #000;
  }

  .sec_about_us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec_about_us .offer {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .sec_about_us .offer .btn {
    -ms-grid-column-align: center;
        justify-self: center;
    background: url("../images/main/button_adap.svg") no-repeat center;
    width: 300px;
    height: 300px;
    margin-left: 0;
  }
  .sec_about_us .offer .btn a {
    font-size: 30px;
  }
  .sec_about_us .offer2 {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .sec_about_us .offer2 .play_video {
    background: url("../images/main/button_adap.svg") no-repeat center;
    width: 300px;
    height: 300px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .sec_about_us .offer2 .play_video .container_video span {
    font-size: 40px;
  }
  .sec_about_us .offer2 .play_video img {
    width: 100px;
  }
  .sec_about_us .offer2 p {
    font-size: 20px;
    margin-right: 0;
  }

  .sec_services {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 0;
    margin-bottom: 50px;
  }
  .sec_services .logo_secvis {
    display: none;
  }

  .sec_contacts {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 0;
  }
  .sec_contacts .contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .sec_contacts .contact > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .sec_contacts .contact ul li {
    font-size: 18px;
  }
  .sec_contacts .contact .bob2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sec_contacts .swiper {
    position: absolute;
    right: 50px;
    width: 400px;
    height: 400px;
  }

  footer .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer .fot_forma {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 20px;
  }
  footer .footer .fot_about {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  footer .footer .fot_map {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  header .section_menu .menu ul li a {
    font-size: 18px;
  }

  .sec_contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec_contacts .contact {
    position: relative;
    width: 100%;
  }
  .sec_contacts .contact ul li {
    font-size: 15px;
    margin-left: 10px;
  }
  .sec_contacts .contact .net {
    margin: 0;
    margin-left: 10px;
  }
  .sec_contacts .contact .net p {
    font-size: 15px;
  }
  .sec_contacts .swiper {
    position: absolute;
    right: 50px;
    width: 300px;
    height: 300px;
  }

  .sec_about_us .offer2 p {
    font-size: 15px;
    margin-left: 20px;
  }
  .sec_about_us .offer2 h2 {
    margin-left: 20px;
  }
  .sec_about_us .offer2 .play_video img {
    width: 100px;
  }
  .sec_about_us .offer2 .play_video .container_video span {
    font-size: 30px;
  }
  .sec_about_us .offer .btn {
    margin: 0;
    width: 300px;
    height: 300px;
  }
  .sec_about_us .offer .btn a {
    font-size: 24px;
  }
  .sec_about_us .offer h2 {
    margin: 0;
    margin-left: 20px;
  }
  .sec_about_us .offer p {
    font-size: 13px;
    margin-left: 20px;
  }

  .sec_services {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec_services .card1 {
    margin-bottom: 20px;
  }

  footer .footer .fot_forma {
    width: 100%;
  }
  footer .footer .fot_map {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 845px) {
  .sec_services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec_services .logo_secvis {
    display: -ms-grid;
    display: grid;
  }

  .sec_about_us .offer2 .play_video .container_video .myVideo {
    width: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .sec_about_us .offer {
    display: -ms-grid;
    display: grid;
    min-height: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .sec_about_us .offer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .sec_about_us .offer h2 {
    font-size: 20px;
    margin: 20px 20px;
  }
  .sec_about_us .offer p {
    font-size: 13px;
    margin: 20px 20px;
  }
  .sec_about_us .offer .btn {
    margin: 0;
    width: 250px;
    height: 250px;
  }
  .sec_about_us .offer .btn a {
    font-size: 15px;
  }
  .sec_about_us .offer2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .sec_about_us .offer2 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .sec_about_us .offer2 h2 {
    font-size: 20px;
  }
  .sec_about_us .offer2 p {
    font-size: 15px;
    margin: 30px 20px;
  }
  .sec_about_us .offer2 .play_video {
    width: 250px;
    height: 250px;
  }
  .sec_about_us .offer2 .play_video img {
    width: 80px;
    height: 80px;
  }
  .sec_about_us .offer2 .play_video .container_video .myVideo {
    width: 400px;
  }

  .sec_contacts {
    position: static;
  }
  .sec_contacts .contact {
    display: -ms-grid;
    display: grid;
  }
  .sec_contacts .contact .adapCol {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .sec_contacts .contact .bob2 {
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec_contacts .contact .bob2 img {
    width: 100px;
  }
  .sec_contacts .contact ul {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .sec_contacts .contact ul li {
    font-size: 20px;
  }
  .sec_contacts .contact .net p {
    font-size: 20px;
  }
  .sec_contacts .swiper {
    margin-top: 50px;
    position: static;
    width: 300px;
    height: 300px;
  }

  header .menu {
    width: 100%;
    margin: 0;
  }
  header .menu ul li {
    padding: 20px;
    font-size: 18px;
  }
  header .btn_on_menu {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    left: 50%;
    top: 10%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 255, 242, 0.788);
              box-shadow: 0 0 0 0 rgba(0, 255, 242, 0.788);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 212, 0.432);
              box-shadow: 0 0 0 10px rgba(255, 0, 212, 0.432);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(76, 0, 255, 0.411);
              box-shadow: 0 0 0 0 rgba(76, 0, 255, 0.411);
    }
  }
  @keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 255, 242, 0.788);
              box-shadow: 0 0 0 0 rgba(0, 255, 242, 0.788);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 212, 0.432);
              box-shadow: 0 0 0 10px rgba(255, 0, 212, 0.432);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(76, 0, 255, 0.411);
              box-shadow: 0 0 0 0 rgba(76, 0, 255, 0.411);
    }
  }
  header .adap_menu {
    min-height: 150px;
    display: none;
  }
  header .adap_menu ul li {
    display: block;
  }
  header .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .adap_menu.active {
    display: block;
    -webkit-animation: on_adap_menu 0.5s 1;
            animation: on_adap_menu 0.5s 1;
    cursor: url("../images/main/close_video.png") 4 12, auto;
  }
  @-webkit-keyframes on_adap_menu {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes on_adap_menu {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  .sec_services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec_services .card1, .sec_services .card2 {
    background: url("../images/card/card_adap.svg") no-repeat;
  }
}
@media only screen and (max-width: 430px) {
  header .section_menu .menu ul li a {
    font-size: 10px;
  }

  .sec_about_us .offer h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .sec_about_us .offer p {
    font-size: 10px;
    margin-bottom: 0;
  }
  .sec_about_us .offer .btn {
    width: 250px;
    height: 250px;
  }
  .sec_about_us .offer .btn a {
    font-size: 15px;
  }
  .sec_about_us .offer2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .sec_about_us .offer2 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .sec_about_us .offer2 p {
    font-size: 13px;
    margin-bottom: 0;
  }
  .sec_about_us .offer2 .play_video {
    margin: 0;
  }
  .sec_about_us .offer2 .play_video img {
    width: 100px;
    height: 100px;
  }
  .sec_about_us .offer2 .play_video .container_video .myVideo {
    width: 300px;
  }

  .sec_services .card1 {
    background: url("../images/card/card_adap_400.svg") no-repeat;
    height: 586px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .sec_services .card1 h2 {
    background-color: #fff;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .sec_services .card1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sec_services .card1 ul li {
    font-size: 15px;
    color: #fff;
    margin-left: 20px;
    padding-bottom: 10px;
  }
  .sec_services .card1 ul li span {
    background-color: #000;
  }
  .sec_services .card2 {
    background: url("../images/card/card_adap_400.svg") no-repeat;
    height: 586px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .sec_services .card2 .kos1, .sec_services .card2 .kos2 {
    background-color: #fff;
    padding: 5px;
    margin: 0;
    margin: 20px 0;
    font-size: 15px;
  }
  .sec_services .card2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sec_services .card2 ul li {
    font-size: 13px;
    color: #fff;
    padding-bottom: 10px;
  }
  .sec_services .card2 ul li span {
    background-color: #000;
  }

  .sec_contacts .contact ul li {
    font-size: 15px;
  }
  .sec_contacts .contact .net p {
    font-size: 20px;
  }
  .sec_contacts .swiper {
    width: 250px;
    height: 250px;
  }

  footer .footer .fot_about h2 {
    font-size: 20px;
    margin-left: 0;
  }

  footer .footer .fot_about p {
    font-size: 15px;
    margin-left: 0;
  }

  footer .footer .fot_about .fut_icons {
    margin-left: 0;
  }
}