body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #008aff, #00ffe7);
}
::-webkit-scrollbar-track {
    background-color: #000;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


// Админ панель цветов
$gradient: #FD70EF, #8F4CFD;
$gradient_2: #FD70EF, #5162FF, #8F4CFD;
$offer_color: #fff;
$sec_services_color: #fff;
$sec_services_bag: #000;
// Админ панель цветов


header {
    background: url('../images/header/background.svg') no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
    .section_menu {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        background: linear-gradient(45deg, $gradient);
        .menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100px;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                border: 1px solid #fff;
                border-radius: 5px;
                li {
                    display: inline-block;
                    padding: 10px;
                    a {
                        font-size: 24px;
                        color: #fff;
                        text-decoration: none;
                        transition: all 0.1s linear 0s;
                        border-right: 1px solid #fff;
                        padding-right: 15px;
                        &:hover {
                            background-color: rgb(222, 113, 255);
                        }
                    }
                }
            }
            h2 {
                color: #fff;
                border: 1px solid #fff;
                padding: 10px;
                border-radius: 5px;
            }
        }
    }
    .offer_logo {
        position: absolute;
        top: 50%;
        left: 50%;                 
        transform: translate(-50%, -50%);
        border: 5px solid #fff;
        padding: 20px;
        border-radius: 50px;
        img {
            width: 250px;
            height: 250px;
        }
        h2 {
            margin: 0;
            color: #fff;
            text-align: center;
        }
    }
    .boxMous {
        position: absolute; 
        top: 90%;
        left: 50%;                 
        transform: translate(-50%, -50%)
    }
    .mouse {
        display: flex;
        justify-content: center;
        width: 70px;
        height: 100px;
        border-radius: 30px;
        border: 4px solid rgb(255, 255, 255);
        .circle {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #b088f9;
            animation: dws-bounce 1.5s infinite;
            @keyframes dws-bounce {
              0% {
                top: 0;
                opacity: 0;
              }
              100% {
                top: 50px;
                opacity: 1;
              }
            }
          }
        .circle.active {
            animation: mouse 1s 1;
            top: 10px;
            background: rgba(34, 255, 45, 0.867);
          }
          @keyframes mouse {
            0% {
              top: 50px;
            }
            100% {
              top: 0;
            }
          }
    }
    .btn_on_menu{display: none;}
}
main {
    margin-top: 50px;
}
.fixed {
    margin: 0 auto;
    max-width: 1400px;
}
.sec_about_us, .sec_services, .sec_contacts {
    min-height: 800px;
    background-image: url('../images/main/bag.svg');
    background-repeat: no-repeat;
}
.sec_about_us {
    @extend %flex-evenly;
    .offer {
        width: 500px;
        height: 450px;
        background: linear-gradient($gradient_2);
        border-radius: 20px;
        cursor: default;
        h2{
            color: $offer_color;
            font-size: 35px;
            font-weight: bold;
            margin: 28px 10px;
            margin-bottom: 20px;
        }
        p{
            font-size: 15px;
            color: $offer_color;
            font-weight: bold;
            margin: 28px 10px;
            margin-bottom: 20px;
        }
        .btn {
            background: url('../images/main/button.svg') no-repeat;
            width: 210px;
            height: 127px;
            @extend %flex-center;
            margin: 28px 10px;
            transition: all 0.1s linear 0s;
            a {
                text-decoration: none;
                color: #000;
                font-size: 24px;
                &:hover {
                    border-bottom: 1px solid #5162FF;
                }
            }
        }
    }
    .offer2 {
        width: 500px;
        height: 450px;
        background: linear-gradient($gradient_2);
        border-radius: 20px;
        cursor: default;
        h2 {
            color: $offer_color;
            font-size: 35px;
            margin: 28px 10px;
            margin-bottom: 20px;
        }
        p{
            font-size: 20px;
            color: $offer_color;
            margin: 28px 10px;
        }
        .play_video {
            background: url('../images/main/button.svg') no-repeat;
            width: 210px;
            height: 127px;
            @extend %flex-center;
            margin-left: 10px;
            img {
                transition: 0.2s;
                cursor: pointer;
                &:hover {
                    transform: scale(1);
                }
            }
            .container_video {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background:rgb(0, 0, 0);
                background-size: cover;
                @extend %flex-center;
                display: none;
                z-index: 101;
                .myVideo {
                    width: 800px;
                    height: 800px;
                }
            }
            @keyframes onBlockVideo {
                0%{
                    transform: scale(0);
                }
                100%{
                    transform: scale(1);
                }
            }
            
            .container_video.active {
                display: flex;
                animation: onBlockVideo 0.3s 1;
                cursor: url('../images/main/close_video.png') 4 12, auto;
            }
        }
    }
}
.sec_services {
    @extend %flex-evenly;
    .card1 {
        background: url('../images/card/card.svg') no-repeat;
        height: 586px;
        width: 420px;
        @extend %flex-center;
        cursor: pointer;
        h2{
            background-color: #fff;
            padding: 5px;
            margin: 0;
            margin-bottom: 10px;
            font-size: 20px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                font-size: 20px;
                color: $sec_services_color;
                margin-left: 20px;
                padding-bottom: 10px;
                span {
                    background-color: $sec_services_bag;
                }
            }
        }
    }
    .logo_secvis {
        width: 200px;
        height: 200px;
        background-color: #fff;
        border-radius: 70px;
        display: grid;
        justify-content: center;
        align-items: center;
        h2 {
            color: #000;
        }
        img {
            justify-self: center;
            align-self: end;
        }
    }
    .card2 {
        background: url('../images/card/card.svg') no-repeat;
        height: 586px;
        width: 420px;
        @extend %flex-center;
        cursor: pointer;
        .kos1, .kos2 {
            background-color: #fff;
            padding: 5px;
            margin: 0;
            margin: 20px 0;
            font-size: 20px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                font-size: 18px;
                color: $sec_services_color;
                padding-bottom: 10px;
                span {
                    background-color: $sec_services_bag;
                }
            }
        }
    }
}
.sec_contacts {
    @extend %flex-evenly;
    .contact {
        width: 500px;
        height: 450px;
        background: linear-gradient($gradient);
        border-radius: 20px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                font-size: 20px;
                color: #fff;
                padding-bottom: 20px;
                margin: 28px 35px;
                span {
                    background-color: #fff;
                    color: #000;
                }
            }
        }
        .net {
            display: flex;
            align-items: center;
            margin: 10px 35px;
            p {
                color: #fff;
                font-size: 18px;
                padding-right: 20px;
                margin: 0;
            }
        }
        .bob2{
            margin: 10px 35px;
            display: flex;
            justify-content: space-between;
            img {
                width: 150px;
                height: 150px;
            }
        }
    }
    .swiper {
        width: 400px;
        height: 400px;
        margin: 0;
        .swiper-button-next, .swiper-button-prev {
            color: #fff;
        }
        .swiper-button-next {
            right: -30px;
        }
        .swiper-button-prev {
            left: -30px;
        }
        h2 {
            margin: 0;
            color: #fff;
        }
      }
      .swiper-slide {
        background-position: center;
        background-size: cover;
      }
      .swiper-slide {
        display: block;
        width: 100%;
      }
      .swiper-slide:nth-child(1) {background: url('../images/slider/img1.jpg') no-repeat center; background-size: cover;}
      .swiper-slide:nth-child(2) {background: url('../images/slider/img2.jpg') no-repeat center;background-size: cover;}
      .swiper-slide:nth-child(3) {background: url('../images/slider/img3.jpg') no-repeat center;background-size: cover;}
}
footer {
    background-color: rgb(22, 22, 22);
    min-height: 400px;
    margin-top: 50px;
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .fot_about {
            align-self: flex-start;
            h2{
                color: #fff;
                font-size: 36px;
                font-weight: bold;
                margin: 28px 35px;
                margin-top: 0;
                margin-bottom: 20px;
            }
            p{
                font-size: 18px;
                color: #fff;
                font-weight: bold;
                margin: 28px 35px;
                margin-bottom: 50px;
            }
            .fut_icons {
                margin: 28px 35px;
            }
        }
        .fot_forma {
            border-radius: 5px;
            background: linear-gradient($gradient);
            padding: 20px;
            width: 400px;
            input {
                height: 50px;
                width: 100%;
                margin: 20px 0;
                border: none;
                border-radius: 5px;
            }
            label {
                font-size: 24px;
                color: #fff;
            }
            .inpBtn {
                width: 100px;
                height: 40px;
                margin-top: 50px;
                color: #fff;
                background: #333;
            }
            .btn_form {
                display: flex;
                justify-content: space-between;
            }
        }
        .fot_map {
            h2{
                color: #fff;
                border-bottom: 1px solid #fff;
                padding-bottom: 20px;
                margin-top: 0;
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    header .menu {
        width: 100%;
    }
    .sec_about_us, .sec_services, .sec_contacts {
        flex-wrap: wrap;
        background: #000;
    }
    .sec_about_us {
        flex-direction: column;
        .offer {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            .btn {
                justify-self: center;
                background: url('../images/main/button_adap.svg') no-repeat center;
                width: 300px;
                height: 300px;
                margin-left: 0;
                a {
                    font-size: 30px;
                }
            }
            margin-bottom: 50px;
        }
        .offer2 {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            .play_video {
                background: url('../images/main/button_adap.svg') no-repeat center;
                width: 300px;
                height: 300px;
                justify-self: center;
                .container_video {
                    span {
                        font-size: 40px;
                    }
                }
                img {
                    width: 100px;
                }
            }
            p {
                font-size: 20px;
                margin-right: 0;
            }
            margin-bottom: 50px;
        }
    }
    .sec_services {
        align-items: flex-start;
        min-height: 0;
        margin-bottom: 50px;
        .logo_secvis {
            display: none;
        }
    }
    .sec_contacts {
        position: relative;
        flex-direction: column;
        min-height: 0;
        .contact {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            align-items: center;
            width: 100%;
            ul {
                li {
                    font-size: 18px;
                }
            }
            .bob2 {
                justify-content: flex-start;
            }
        }
        .swiper {
            position: absolute;
            right: 50px;
            width: 400px;
            height: 400px;
        }
    }
    footer {
        .footer {
            flex-wrap: wrap;
            .fot_forma {
                order: -1;
                margin-top: 20px;
            }
            .fot_about {
                order: -1;
            }
            .fot_map {
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    header .section_menu .menu ul li a {
        font-size: 18px;
    }
    .sec_contacts {
        flex-direction: column;
        .contact {
            position: relative;
            width: 100%;
            ul {
                li {
                    font-size: 15px;
                    margin-left: 10px;
                }
            }
            .net {
                margin: 0;
                margin-left: 10px;
                p {
                    font-size: 15px;
                }
            }
        }
        .swiper {
            position: absolute;
            right: 50px;
            width: 300px;
            height: 300px;
        }
    }
    .sec_about_us {
        .offer2 {
            p {
                font-size: 15px;
                margin-left: 20px;
            }
            h2 {
                margin-left: 20px;
            }
            .play_video {
                img {
                    width: 100px;
                }
                .container_video {
                    span {
                        font-size: 30px;
                    }
                }
            }
        }
        .offer {
            .btn {
                margin: 0;
                width: 300px;
                height: 300px;
                a {
                    font-size: 24px;
                }
            }
            h2 {
                margin: 0;
                margin-left: 20px;
            }
            p {
                font-size: 13px;
                margin-left: 20px;
            }
        }
    }
    .sec_services {
        align-items: center;
        .card1 {
            margin-bottom: 20px;
        }
    }
    footer {
        .footer {
            .fot_forma {
                width: 100%;
            }
            .fot_map {
                margin-top: 10px;
            }
        }
    }
}

@media only screen and (max-width: 845px) {
    .sec_services {
        flex-direction: column;
        align-items: center;
        .logo_secvis {
            display: grid;
        }
    }
    .sec_about_us .offer2 .play_video .container_video .myVideo {
        width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .sec_about_us {
        .offer {
            display: grid;
            min-height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            h2 {
                font-size: 20px;
                margin: 20px 20px;
            }
            p {
                font-size: 13px;
                margin: 20px 20px;
            }
            .btn {
                margin: 0;
                width: 250px;
                height: 250px;
                a {
                    font-size: 15px;
                }
            }
        }
        .offer2 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 15px;
                margin: 30px 20px;
            }
            .play_video  {
                width: 250px;
                height: 250px;
                img {
                    width: 80px;
                    height: 80px;
                }
                .container_video .myVideo {
                    width: 400px;
                }
            }
        }
    }
    .sec_contacts {
        position: static;
        .contact {
            .adapCol {
                justify-self: start;
            }
            display: grid;
            .bob2 {
                margin: 0;
                justify-content: space-between;
                img {
                    width: 100px;
                }
            }
            ul {
                justify-self: center;
                li {
                    font-size: 20px;
                }
            }
            .net {
                p {
                    font-size: 20px;
                }
            }
        }
        .swiper {
            margin-top: 50px;
            position: static;
            width: 300px;
            height: 300px;
        }
    }
    header {
        .menu {
            width: 100%;
            ul {
                li {
                    padding: 20px;
                    font-size: 18px;
                }
            }
            margin: 0;
        }
        .btn_on_menu {
            position: absolute;
            width: 100px;
            height: 100px;
            background: #fff;
            border-radius: 50%;
            left: 50%;
            top: 10%;
            transform: translate(-50%, -50%);
            animation: pulse 2s infinite;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }
        @keyframes pulse {
            0% {
              box-shadow: 0 0 0 0 rgba(0, 255, 242, 0.788);
            }
            70% {
                box-shadow: 0 0 0 10px rgba(255, 0, 212, 0.432);
            }
            100% {
                box-shadow: 0 0 0 0 rgba(76, 0, 255, 0.411);
            }
        }
        .adap_menu {
            min-height: 150px;
            display: none;
            ul {
                li {
                    display: block;
                }
            }
        }
        .menu {
            flex-direction: column;
        }
        .adap_menu.active {
            display: block;
            animation: on_adap_menu 0.5s 1;
            cursor: url('../images/main/close_video.png') 4 12, auto;
        }
        @keyframes on_adap_menu {
            0%{
                transform: scale(0);
            }
            100%{
                transform: scale(1);
            }
        }
    }
    .sec_services {
        flex-direction: column;
        .card1, .card2 {
            background: url('../images/card/card_adap.svg') no-repeat;
        }
    }
}
@media only screen and (max-width: 430px) {
    header .section_menu .menu ul li a {
        font-size: 10px;
    }
    .sec_about_us {
        .offer {
            h2 {
                font-size: 20px;
                margin-bottom: 0;
            }
            p {
                font-size: 10px;
                margin-bottom: 0;
            }
            .btn {
                width: 250px;
                height: 250px;
                a {
                    font-size: 15px;
                }
            }
        }
        .offer2 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            p {
                font-size: 13px;
                margin-bottom: 0;
            }
            .play_video {
                margin: 0;
                img {
                    width: 100px;
                    height: 100px;
                }
                .container_video {
                    .myVideo {
                        width: 300px;
                    }
                }
            }
        }
    }
    .sec_services {
        .card1 {
            background: url('../images/card/card_adap_400.svg') no-repeat;
            height: 586px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            h2{
                background-color: #fff;
                padding: 5px;
                margin: 0;
                margin-bottom: 10px;
                font-size: 15px;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    font-size: 15px;
                    color: #fff;
                    margin-left: 20px;
                    padding-bottom: 10px;
                    span {
                        background-color: #000;
                    }
                }
            }
        }
        .card2 {
            background: url('../images/card/card_adap_400.svg') no-repeat;
            height: 586px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .kos1, .kos2 {
                background-color: #fff;
                padding: 5px;
                margin: 0;
                margin: 20px 0;
                font-size: 15px;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    font-size: 13px;
                    color: #fff;
                    padding-bottom: 10px;
                    span {
                        background-color: #000;
                    }
                }
            }
        }
    }
    .sec_contacts {
        .contact {
            ul {
                li {
                    font-size: 15px;
                }
            }
            .net {
                p {
                    font-size: 20px;
                }
            }
        }
        .swiper {
            width: 250px;
            height: 250px;
        }
    }
    footer .footer .fot_about h2 {
        font-size: 20px;
        margin-left: 0;
    }
    footer .footer .fot_about p {
        font-size: 15px;
        margin-left: 0;
    }
    footer .footer .fot_about .fut_icons {
        margin-left: 0;
    }
}